
.graph-icon {
	fill: white;
}

#services {
	background-color: #B5E7F9;
}
#services .text-muted {
	color: #666;
}
#get-started-button {
	margin-top: 2em;
}

.dollar-icon {
	padding-bottom: .5em;
	margin-top: -.5em;
}
.email-us-header {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	line-height: 1.3em;
	margin-bottom: .5em;
}
.copy-past-email {
	font-size: 24px;
}
.overflow-hidden {
	overflow: hidden;
}
.or-separator {
	border: 2px solid #f05f40;
	margin: 10px auto -300px auto;
	padding-bottom: 300px;
	height: 100%;
	width: 0;
	display: block;
	position: relative;
}
.large-or {
	position: absolute;
	padding: .5em;
	top: 50%;
	/*margin-top: -20px;*/
	transform: translate(-50%,-75%);
	font-size: 40px;
	background-color: white;
}
@media screen and (max-width: 991px) {
	.or-separator {
		height: 0;
		width: 100%;
		margin: 5em 0;
		padding: 0;
	}
	.large-or {
		margin-top: 0;
		transform: translate(-50%, -50%);
	}
}
.sign-up-button {
}
.sign-up-input {
	font-size: 16px;
	padding: .3em;
	width: 50%;
	margin: .3em;
}

.copy-email {
	display: block;
	font-size: 20px;
	line-height: 2;
	color: #333;
}

#contact {
	background-color: #555;
	color: white;
}
.saved-money {
	float: right;
	font-size: 18px;
}
.money {
	color: rgb(0, 232, 0);;
	font-size: 20px;
}

#refund-section {
	background-color: #333;
}
#refund-section .container {
	width: 100%;
}
.refund-table-container {
	color: white;
	padding: 5px;
}
#refund-section tbody>tr:hover {
	background-color: #f05f40;
}
#settings {
	background-color: #f05f40;
}
#faq {
	background-color: #B5E7F9;
}
.change-fee-table {
	padding: 5px;
}
.change-fee-table td {
	min-width: 200px;
	border: 1px solid black;
	padding: 2px;
}
.change-fee-table table{
		background-color: white;
}
.input {
	max-width: 200px;
	margin-bottom: 5px;
	display: inline-block;
}
.loyalty-plan {
	background-color: white;
	padding: 15px;
	width: 400px;
}