<!DOCTYPE html>
<html lang="en" ng-app="refundApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Scrimpist - Book with confidence, we've got your back</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="css/animate.min.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/creative.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        
        <script src="./js/refund.js"></script>
    </head>
    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="http://www.scrimpist.com">Scrimpist</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#refund-section">Refunds</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#settings">Settings</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#faq">Help</a>
                        </li>
                        <li>
                            <a id="logout" href="./index.html">Log out</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <section id="refund-section" ng-controller="refundController">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="refund-table-container">
                            <h3>Your upcoming travels <span class="saved-money">You have saved <span class="money">${{savedMoney}}</span> to date!</span></h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th ng-repeat="field in tableFields">{{ field }}</th>
                                        <th ng-repeat="field in dollarFields">{{ field }}</th>
                                        <th>Refund</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="trip in trips">
                                        <th scope="row">{{ $index+1 }}</th>
                                        <td ng-repeat="field in tableFields">{{ trip[field] }}</td>
                                        <td ng-repeat="field in dollarFields">${{ trip[field] }}</td>
                                        <td>
                                            <span ng-show="trip.refunded">Refund requested</span>
                                            <a ng-click="trip.refunded = true; refund(trip['buying price'] - trip['change fee'] - trip['current price')" class="btn btn-info btn-sm page-scroll wow bounceIn" ng-show="(trip['buying price'] - trip['change fee'] - trip['current price'])>0 && !trip.refunded">Get Refund</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a id="run-refunds" ng-click="getAllRefunds()" href="#" class="btn btn-primary wow bounceIn">Run automatic refunds</a>
                            <br><label>This will automatically run every hour. Next run in {{ minutes }} minute(s) and {{ counter }} second(s).</label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="settings">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Settings</h2>
                        <label>Get alerts by email or phone when a price drops: </label><br>
                        <input type="checkbox" checked="yes"> Email: <input type="email"class="form-control input" placeholder="email@email.com">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" > Text: <input type="text"class="form-control input" placeholder="(XXX) XXX - XXXX"><br>
                        <br>
                        <label><input type="checkbox" checked="yes" > Auto refund for price drops</label><br>
                        <label class="loyalty-plan">Add a loyalty plan <br>
                            <select>
                                <option>Alaska</option>
                                <option>Air France</option>
                                <option>British</option>
                                <option>Emirates</option>
                                <option>Delta</option>
                                <option>Jet Blue</option>
                                <option>Singapore</option>
                                <option>Southwest</option>
                                <option>United</option>
                            </select>
                            #<input type="text" class="form-control input"><i style="margin-left: 5px;" class="fa fa-plus"></i>
                        </label><br>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>FAQ</h2>
                        <p class="q">Q: How will I get my refund?</p>
                        <p class="a">
                            A: For car rentals, hotels, and other services, this will typically be a credit to the credit card you used when you made you reservation/booking.</p>
                            <p>For airlines it depends on the carrier and how much time has passed since you first booked. The refund will come either as a credit to your credit card for more recent bookings, or as a credit towards future services.
                        </p>
                        <p class="q">Q: When do I get a refund?</p>
                        <p class="a">
                            A: You get a refund when a price changes more than a certain amount. This amount varies by airline due to their change fees and rebooking fees. 
                        </p>
                        <div class="change-fee-table">
                        <table>
                            <thead>
                                <tr style="background-color: rgb(207, 207, 255);">
                                    <td>Airlines</td><td>Price Needs to Drop Over $</td><td>Cost to change</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>Alaska</td><td>10</td><td>0</td></tr>
                                <tr><td>Air France</td><td>10</td><td>0</td></tr>
                                <tr><td>American</td><td>200</td><td>200</td></tr>
                                <tr><td>British</td><td>100GBP</td><td>0</td></tr>
                                <tr><td>Delta</td><td>200</td><td>200</td></tr>
                                <tr><td>Emirates</td><td>20</td><td>0</td></tr>
                                <tr><td>JetBlue</td><td>100</td><td>100</td></tr>
                                <tr><td>Singapore</td><td>100JPY</td><td>0 </td></tr>
                                <tr><td>Southwest</td><td>0</td><td>0</td></tr>
                                <tr><td>United</td><td>200</td><td>200</td></tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>